/******
GENERAL SECTION    
******/
html, body {
    background-image: url(/images/footer_lodyas.png);
    padding-top: 0px;
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

hr.style {
	border-top: 3px double #8c8b8b;
}

.button {
    background-color: #363636;
	border: 2px solid #2b2b2b;
	border-radius: 8px;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
	background-color: #4a4a4a;
	color: white;
    text-decoration:none;
}
/******
TITLE SECTION    
******/
#Title {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    color: red;
    padding-bottom: 5px;
}

#Title h4 {
    padding: 0px;
    text-decoration: overline;
}

/******
NAVBAR SECTION    
******/
.nav {
    margin: 10px;
    color: white;
}

.nav a {
    color: white;
    font-size: medium;
}

.nav a:hover {
    background-color: black;
    color: red;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #363636;
}

/******
FOOTER SECTION    
******/
#footerLinks {
    font-size: 12px;
}

#baseFooter {
    font-size: 10px;
    color: grey;
}

/******
EVENTS SECTION    
******/
#events {
    text-align: center;
}

.panel {
    background-color: #37393e;
    border-color: #37393e;
}

#events p {
    padding-top: 10px;
    display: inline-block;
    width: 75%;
}

#events img {
    border-radius: 5px;
}

#events h1 {
     font-family: 'Lobster', cursive;
     color: red;
}

/******
Enquiries SECTION    
******/
.contactForm {
    text-align:left;
}

textarea {
    resize:none;
}

#returnHome {
    padding-bottom:10px;
}

/*****
Cinemas SECTION
*****/
#Cinemas {
    text-align: center;
}

#Cinemas h2 {
    font-family: 'Lobster', cursive;
    color: red;
}

/******
Sessions SECTION
******/

.table.borderless td{
    border-top: 0;
    height: 100px;
}

/******
Booking SECTION
*******/

.ticketDisplay tr td{
    width:20%
}

.dropDownList {
    color:black;
}

.nameField {
    color:black;
}