@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>Cineplex Cinemas Customer Event Manager - Admin</h1>
    <form>
        <table border="1">
            <tr>
                <td>Enquiry ID :</td>
                <td>
                    <select id="enquiryid"></select>
                    OR
                    <input id="newenquiryid" type="text" />
                </td>
            </tr>
            <tr>
                <td>Email :</td>
                <td><input id="email" type="text" /></td>
            </tr>
            <tr>
                <td>Event Message :</td>
                <td><input id="eventmsg" type="text" /></td>
            </tr>
            <tr>
                <td>Event Date :</td>
                <td><input id="eventdate" type="text" /></td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="button" id="insert"
                           value="Insert" />
                    <input type="button" id="update"
                           value="Update" />
                    <input type="button" id="delete"
                           value="Delete" />
                </td>
            </tr>
        </table>
        <br />
        <div id="msg"></div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            //Filling the dropdown list with MovieIDs
            var options = {};
            options.url = "http://localhost:15956/api/customerevent";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (element) {
                    $("#enquiryid").append("<option>"
                    + element.enquiryID + "</option>");
                });
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
            $.ajax(options);

            //getting movie's information
            $("#enquiryid").change(function () {
                var options = {};
                options.url = "http://localhost:15956/api/customerevent" +
                               $("#enquiryid").val();
                options.type = "GET";
                options.dataType = "json";
                options.success = function (data) {
                    $("#email").val(data.email);
                    $("#eventmsg").val(data.eventMessage);
                    $("#eventdate").val(data.eventDate);
                };
                options.error = function (a, b, c) {
                    alert(a.responseText);
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            });

            //adding a new movie
            $("#insert").click(function () {
                var options = {};
                options.url = "http://localhost:15956/api/customerevent";
                options.type = "POST";

                var obj = {};
                obj.EnquiryID = $("#newenquiryid").val();
                obj.Email = $("#email").val();
                obj.Message = $("#eventmsg").val();
                obj.EventDate = $("#eventdate").val();

                console.log(obj);
                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            });

            //modifying movie
            $("#update").click(function () {
                var options = {};
                options.url = "http://localhost:15956/api/customerevent/"
                              + $("#enquiryid").val();
                options.type = "PUT";

                var obj = {};
                obj.EnquiryID = $("#enquiryid").val();
                obj.Email = $("#email").val();
                obj.Message = $("#eventmsg").val();
                obj.EventDate = $("#eventdate").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function (a, b, c) {
                    alert(c);
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            });

            //deleting movie
            $("#delete").click(function () {
                var options = {};
                options.url = "http://localhost:15956/api/customerevent/"
                              + $("#enquiryid").val();
                options.type = "DELETE";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            });

        });
    </script>
</body>
</html>