@{
    ViewData["Title"] = "Events";
}

<div class="page">
    <div id="events">
        <div class="panel panel-default">
            <h1>@ViewData["Title"]</h1>
            <img src="~/images/privateHire.jpg" />

            <p>
                Each Cineplex Cinema has a unique space which lends itself to a range of opportunities for
                private hire for up to a maximum of 85 people. If you need a day venue for a press launch,
                screening, photo shoot, presentation or conference, we have the ideal space, the technology,
                the food, the drink and the service to make it happen. Contact us below to make it happen!
            </p>
        </div>
    </div>
    <h4>Private Venue Enquiry</h4>
    @Html.Partial("_ContactFormPartial")
</div>