@{
    ViewData["Title"] = "Events";
}

<div id="events">
    <div class="panel panel-default">
        <h1>@ViewData["Title"]</h1>
        <img src="~/images/privateHire.jpg" />

        <p>
            The Electric is a unique space which lends itself to a range of opportunities for
            private hire for up to a maximum of 83 people. If you need a day venue for a press launch,
            screening, photo shoot, presentation or conference, we have the ideal space, the technology,
            the food, the drink and the service to make it happen. Email us for more information..
        </p>
    </div>

    @Html.Partial("_ContactFormPartial")
</div>